   .contact-hero{
    margin-top: 70px;
            height:200px;
            background:linear-gradient(90deg,#0f2027,#203a43,#2c5364);
            display:flex;
            justify-content:center;
            align-items:center;
            color:white;
            text-align:center;
        }

        .contact-hero h1{
            font-size:42px;
        }
        .contact-hero img{
            border-radius: 50%;
            margin: 20px;
        }

        
        .contact-container{
            max-width:1200px;
            margin:50px auto;
            display:flex;
            gap:40px;
            padding:0 15px;
        }

        
        .contact-form{
            flex:1;
            background:white;
            padding:30px;
            border-radius:12px;
            box-shadow:0 5px 20px rgba(0,0,0,0.08);
        }

        .contact-form h2{
            margin-bottom:20px;
        }

        .contact-form input,
        .contact-form textarea{
            width:100%;
            padding:12px;
            margin:10px 0;
            border:1px solid #ccc;
            border-radius:6px;
            font-size:14px;
        }

        .contact-form button{
            width:100%;
            padding:12px;
            border:none;
            background:#2c5364;
            color:white;
            border-radius:6px;
            font-size:16px;
            cursor:pointer;
        }

        .contact-form button:hover{
            background:#1b2f38;
        }


        .contact-info{
            flex:1;
            background:white;
            padding:30px;
            border-radius:12px;
            box-shadow:0 5px 20px rgba(0,0,0,0.08);
        }

        .contact-info h2{
            margin-bottom:20px;
        }

        .info-item{
            margin-bottom:15px;
            font-size:15px;
        }

        .info-item span{
            font-weight:600;
            display:block;
            margin-bottom:5px;
        }

        /* Responsive */
        @media(max-width:900px){
            .contact-container{
                flex-direction:column;
            }
        }