*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
}
.header{
    background-color: white;
    padding: 10px;
    position: fixed;
     top: 0;            /* stick to top */
    left: 0;
    width: 100%;  
    z-index: 3;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo img{
    border-radius: 50%;
}
.container{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}
.logo h1{
     font-family: "Sekuya", system-ui;
    font-size: 20px;
    color: green;
}
.navbar{
    display: flex;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: black;
    transition: all 0.5s ;
    padding: 10px;
    text-align: center;
}
.navbar a:hover{
    background-color: green;
    color: white;
    border-radius: 8px;
}
.nav{
    display: flex;
    gap: 20px;
}

 .navbar .menu-icon{
    font-size: 30px;
    cursor: pointer;
 }
@media screen and (max-width: 800px) { 
    .header{
        padding:4px 0px;
    }
    .logo,.navbar{
        gap: 0px;
    }
    .nav{
        gap: 0px;
        padding: 1px;
    }

}
@media screen and (min-width: 801px) { 
    .navbar .menu-icon{
        display: none;
        
    }
    .contact-hero{
        margin-top: 50px;
    }

}

