.monitor-hero{
     background: url(/images/background-monitor.avif);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
     margin-top: 70px;
     display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */

  color: white;
  text-align: center;
}
.hero-content h1{
    color: rgb(145, 145, 244);
    font-size: 40px;
}
.hero-content p{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.hero-content img{
    border-radius: 20%;
    width: 200px;
}
.monitor{
    max-width: 1300px;
    margin: auto;
    text-align:center;
    background-color: green;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px;
    color: white;
    border-radius:16px;
   
}

.all-monitor{
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;      
    padding: 20px 10px;
}

.monitor-categori{
    flex: 1 1 calc(25% - 20px);  /* 4 per row */
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.monitor-categori:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.monitor-categori img{
    width: 100%;
    max-width: 220px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.monitor-categori h3{
    font-size: 16px;
    margin: 10px 0;
}

.monitor-categori h4{
    color: blue;
    margin: 5px 0;
}

.monitor-categori h5{
    color: green;
    margin: 5px 0;
}

.price{
    color: red;
    font-size: 24px;
    margin-top: 10px;
}
/* Tablet */
@media (max-width: 992px){
    .monitor-categori{
        flex: 1 1 calc(50% - 20px); /* 2 per row */
    }
}

/* Mobile */
@media (max-width: 600px){
    .monitor-categori{
        flex: 1 1 100%; /* 1 per row */
    }
}
