.rog{
    max-width: 1300px;
    margin: auto;
    margin-top:120px;
    padding: 0px 20px;
    font-size: 14px;
    
}
.all-pc{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
#rog h1{
    padding-bottom: 10px;
}
#rog,#msi,#tuf{
    text-decoration: none;
    color: black;
}
.img{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
      width: 25%;
      height: 650px;
    min-width: 300px;
      flex: 0 0 calc(25% - 10px);
      margin: auto;
}
.msi{
    height: 700px;
}
.img img{
    cursor: pointer;
    transition: all 0.3s;
     width: 100%;

}
.img img:hover{
    transform: scale(0.9);
}
.img .prom{
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px;
    position: relative;
    left: -10px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 800;
}
h4{
    display: inline-block;
    background-color: rgb(120, 235, 6);
    color: white;
    padding: 6px;
    border-radius: 8px;
}
h5{
    font-size: 16px;
    padding: 8px 0px;
}
ul{
    padding-left: 10px;
    
}
li{
    padding-bottom: 8px;
    font-weight: 600;
}
h3{
    color: rgb(176, 18, 18);
    text-decoration: line-through;
}